<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
  <div  class="thumbnail text-center shadow" style="border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <img *ngIf="myStore" [src]="myStore.thumbnail" alt="Thumbnail" class="img-fluid" style="width: 300px; height: 200px;">
    <div *ngIf="myStore" class="caption">
      <h3>{{myStore.storeName}}</h3>
    </div>

    <!-- Login Form -->
    <form *ngIf="myStore" (ngSubmit)="login()">
      <div class="form-group">
        <label for="storeCode">Mã cửa hàng:</label>
        <input
          type="text"
          class="form-control"
          id="storeCode"
          [(ngModel)]="loginData.storeCode"
          [value]="myStore.storeCode"
          placeholder="Enter store code"
          disabled
        />
      </div>

      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="loginData.password"
          name="password"
          placeholder="Enter password"
          required
        />
        <div *ngIf="passwordError" class="alert alert-danger" role="alert">
          Password is required.
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Đăng nhập</button>

    </form>


    <div class="form-register" >
      <div *ngIf="!myStore" class="form-register" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border: 1px solid #ddd;">
        <h4>Hướng dẫn mở cửa hàng</h4>
        <a href="/about" class="btn btn-info">About Us</a>
        <hr style="border-top: 1px solid #970c0c; width: 100%;">
        <h4>Bạn muốn mở cửa hàng?</h4>
        <p>Sapo chào mừng bạn</p>

        <!-- Store Name -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="storeName">Tên cửa hàng:</label>
              <input type="text" class="form-control" id="storeName" [(ngModel)]="storeData.storeName" name="storeName" placeholder="Enter store name" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Địa chỉ:</label>
              <input type="text" class="form-control" id="address" [(ngModel)]="storeData.address" name="address" placeholder="Enter address" required>
            </div>
          </div>
        </div>

        <!-- Phone Number and Thumbnail -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="phoneNumber">Số điện thoại:</label>
              <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="storeData.phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="thumbnail">Thumbnail:</label>
              <input type="file" class="form-control" id="thumbnail" (change)="onFileChange($event, 'thumbnail')" required>
            </div>
          </div>
        </div>

        <!-- Description -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Mô tả:</label>
              <textarea class="form-control" id="description" [(ngModel)]="storeData.description" name="description" placeholder="Enter description" required style="height: 100px;"></textarea>
            </div>
          </div>
        </div>

        <!-- eKYC Files -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="eKyc_01">eKyc 01:</label>
              <input type="file" class="form-control" id="eKyc_01" (change)="onFileChange($event, 'eKyc_01')" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="eKyc_02">eKyc 02:</label>
              <input type="file" class="form-control" id="eKyc_02" (change)="onFileChange($event, 'eKyc_02')" required>
            </div>
          </div>
        </div>
        <!-- VNPay Account Link -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="vnpayAccountLink">Tài khoản liên kết VNPAY:</label>
              <input type="text" class="form-control" id="vnpayAccountLink" [(ngModel)]="storeData.vnpayAccountLink" name="vnpayAccountLink" placeholder="Enter VNPay account link" required>
            </div>
          </div>
        </div>
        <!-- Store Type -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="storeType">Loại cửa hàng:</label>
              <select class="form-control" id="storeType" [(ngModel)]="storeData.storeType" name="storeType" required>
              <option *ngFor="let type of storeTypes" [value]="type.slug">{{type.typeName}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="storeData.termsAccepted" name="termsAccepted" required> Tôi đồng ý với <a href="/terms">điều khoản và điều kiện</a> và <a href="/privacy">chính sách bảo mật</a>
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="registerStore()">Đăng ký</button>
      </div>
    </div>


  </div>
</div>
