form {
  background-color: rgb(51, 226, 59);
  width: 40%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius:0 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;

}
.form-register{
  margin-left: 100px;
  width: 80%;
  padding: 10px;
  margin-bottom: 50px;
}
.container{
  height: 600px;
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
