<div class="dashboard">
  <div class="container">
    <div class="navigation">
      <ul>
        <li [ngClass]="{ 'active': isActive('/') }">
          <a routerLink="/">
            <span class="icon"><i class="fa-solid fa-house"></i></span>
            <span class="title">Trang chủ</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/store-dashboard') }">
          <a routerLink="/store-dashboard">
            <span class="icon"><i class="fa-solid fa-house"></i></span>
            <span class="title">Thống kê chung</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/store-product') }">
          <a routerLink="/store-product">
            <span class="icon"><i class="fa-brands fa-product-hunt"></i></span>
            <span class="title">Sản phẩm</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/store-order') }">
          <a routerLink="/store-order">
            <span class="icon"><i class="fa-regular fa-message"></i></span>
            <span class="title">Đơn hàng</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/help') }">
          <a routerLink="/help">
            <span class="icon"><i class="fa-regular fa-circle-question"></i></span>
            <span class="title">Yêu cầu hỗ trợ</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/settings') }">
          <a routerLink="/settings">
            <span class="icon"><i class="fa-solid fa-gear"></i></span>
            <span class="title">Cài đặt</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/password') }">
          <a routerLink="/password">
            <span class="icon"><i class="fa-solid fa-lock"></i></span>
            <span class="title">Mật khẩu</span>
          </a>
        </li>

        <li [ngClass]="{ 'active': isActive('/sign-out') }">
          <a routerLink="/sign-out">
            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            <span class="title">Đăng xuất</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
