<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="icon">
            <i class="fa-solid fa-house"></i>
          </span>
          <span class="title">Sapo Store</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">
          <span class="icon">
            <i class="fa-solid fa-house"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin/storetype" routerLinkActive="active">
          <span class="icon">
            <i class="fa-brands fa-product-hunt"></i>
          </span>
          <span class="title">Store Type</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin/category" routerLinkActive="active">
          <span class="icon">
            <i class="fa-solid fa-list"></i>
          </span>
          <span class="title">Category</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin/product" routerLinkActive="active">
          <span class="icon">
            <i class="fa-solid fa-layer-group"></i>
          </span>
          <span class="title">Product</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin/store" routerLinkActive="active">
          <span class="icon">
            <i class="fa-solid fa-shop"></i>
          </span>
          <span class="title">Store</span>
        </a>
      </li>

      <li>
        <a routerLink="/admin/help" routerLinkActive="active">
          <span class="icon">
            <i class="fa-brands fa-hire-a-helper"></i>
          </span>
          <span class="title">Help</span>
        </a>
      </li>

      <li>
        <a routerLink="/logout" routerLinkActive="active">
          <span class="icon">
            <i class="fa-solid fa-right-from-bracket"></i>
          </span>
          <span class="title" (click)="logout()">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
