<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<app-sidebaradmin></app-sidebaradmin>
<div class="topbar">
  <app-topbar></app-topbar>
  <hr>
  <div class="container">
    <h1>Thống kê yêu cầu ( Giả lập )</h1>
    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>Email</th>
          <th>Nội dung</th>
          <th>Hình ảnh</th>
          <th>Ngày yêu cầu</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of requests; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.content }}</td>
          <td>
            <img [src]="item.image" alt="Hình ảnh" />
          </td>
          <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button class="btn btn-edit" (click)="editRequest(item)">Chi tiết</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination-wrapper></app-pagination-wrapper>
  </div>

</div>
