
<app-toastsuccess></app-toastsuccess>
<div class="container">
  <div class="header">
  </div>
  <div class="parent" >
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
          <form (ngSubmit)="onRegister()">
            <label for="chk" aria-hidden="true">Sapo Store</label>
            <input type="text" name="name" placeholder="Họ tên" required="" [(ngModel)]="SignUpRequest.name" >
            <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="SignUpRequest.email">
            <input type="password" name="password" placeholder="Mật khẩu" required="" [(ngModel)]="SignUpRequest.password">
            <button type="submit">Đăng ký</button>
          </form>
        </div>

        <div class="login">
          <form>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" [(ngModel)]="LoginRequest.email" placeholder="Email" required="">
            <input type="password" name="password" [(ngModel)]="LoginRequest.password" placeholder="Mật khẩu" required="">
            <button (click)="onLogin()" style="color: white;">Đăng nhập</button>
            <button><a href="http://localhost:8080/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect" style="color: white;">Đăng nhập với Google</a></button>
          </form>
        </div>

    </div>
    <div class="slider">
        <app-sliderlogin></app-sliderlogin>
        <a href="/about" title="Giới thiệu, hướng dẫn sử dụng" style="font-weight: bold; color: #007bff; text-decoration: none; margin-left:160px;">Giới thiệu, hướng dẫn sử dụng</a>
    </div>
  </div>
</div>



