<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<app-header-shop></app-header-shop>
<div class="container">

<app-category-detail-card></app-category-detail-card>
<hr>
<hr style="border: 1px solid #000; width: 100%;">
</div>
<style>
  .featured-title {
    text-align: center;
    font-size: 2em;
    color: #ff4500;
    text-shadow: 2px 2px 5px #000;
    animation: fire 1s infinite;
  }

  @keyframes fire {
    0% {
      text-shadow: 0 0 5px #ff4500, 0 0 10px #ff4500, 0 0 15px #ff4500, 0 0 20px #ff4500, 0 0 25px #ff4500, 0 0 30px #ff4500, 0 0 35px #ff4500;
    }
    50% {
      text-shadow: 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500;
    }
    100% {
      text-shadow: 0 0 5px #ff4500, 0 0 10px #ff4500, 0 0 15px #ff4500, 0 0 20px #ff4500, 0 0 25px #ff4500, 0 0 30px #ff4500, 0 0 35px #ff4500;
    }
  }
</style>

<div class="container" style="padding: 50px;">
  <div class="text-center">
    <h2 class="featured-title" style="color: blue;">Các Sản Phẩm Liên Quan</h2>
  </div>
  <div class="row">
    <div class="col" *ngFor="let productResponse of products">
      <app-item-product [productResponse]="productResponse" (click)="navigateToProduct(productResponse.slug)"></app-item-product>
    </div>
  </div>
  <hr style="border: 1px solid #000; ">
  <app-pagination-wrapper></app-pagination-wrapper>
</div>

<app-footer></app-footer>

