<div class="details">
  <div *ngIf="products.length > 0">
    <div class="recentOrders">
      <table>
        <thead>
          <tr>
            <td style="width: 20px">ID</td> <!-- Change "STT" to "ID" -->
            <td style="width: 200px">Name</td>
            <td style="width: 200px">Thumbnail</td>
            <td style="width: 200px">Description</td>
            <td style="width: 200px">Slug</td>
            <td style="width: 200px">Category</td>
            <td style="width: 200px">Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td style="width: 20px">{{ product.proId }}</td> <!-- Display product ID -->
            <td style="width: 200px">{{ product.proName }}</td>
            <td style="width: 50px">
              <img [src]="product.thumbnail" width="50px" />
            </td>
            <td style="width: 200px">{{ product.description }}</td>
            <td style="width: 200px">{{ product.slug }}</td>
            <td style="width: 200px">{{ product.category }}</td>
            <td style="display: flex; width: 200px;">
              <button class="btn-edit" (click)="updateAction(product)">Edit</button>
              <button class="btn-delete" (click)="onDelete(product)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="products.length === 0">
    <p>No products available.</p>
  </div>
</div>
