<div class="form-group-search">
  <label for="category"><b>Category : </b></label>
  <select
    id="category"
    name="category"
    [(ngModel)]="cateId"
    (change)="onCategoryChange()"
    required
  >
    <option *ngFor="let cate of categories" [value]="cate.id">
      {{ cate.cateName }}
    </option>
  </select>
</div>

<div class="details">
  <div *ngIf="filteredProducts.length > 0">
    <div class="recentOrders">
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Thumbnail</td>
            <td>Description</td>
            <td>Slug</td>
            <td>Category</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>{{ product.proId }}</td>
            <td>{{ product.proName }}</td>
            <td><img [src]="product.thumbnail" width="50px" /></td>
            <td>{{ product.description }}</td>
            <td>{{ product.slug }}</td>
            <td>{{ product.category }}</td>
            <td>
              <button class="btn-edit" (click)="updateAction(product)">Edit</button>
              <button class="btn-delete" (click)="onDelete(product)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="filteredProducts.length === 0">
    <p>No products available.</p>
  </div>
</div>
