<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="overall">
  <div class="cardBox">
    <div class="card" style="display: flex;">
        <div>
            <div class="numbers">{{adminStatistical.store}}</div>
            <div class="cardName">Cửa hàng </div>
        </div>


    </div>

    <div class="card">
        <div>
            <div class="numbers">{{adminStatistical.product}}</div>
            <div class="cardName">Sản phẩm</div>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{adminStatistical.user}} </div>
            <div class="cardName">Khách hàng</div>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">{{adminStatistical.revenue | number}}</div>
            <div class="cardName">Vốn hóa</div>
        </div>
    </div>
    <div class="card">
      <div>
          <div class="numbers">{{adminStatistical.orderDetail}}</div>
          <div class="cardName">Đơn hàng</div>
      </div>
  </div>
  </div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Yêu cầu mở cửa hàng</h2>
            <a href="#" class="btn">Xem tất cả yêu cầu</a>
        </div>
        <hr style="margin-top: -200px;">
        <div class="contentstore">
          <table>
            <thead>
                <tr>
                    <td>Tên cửa hàng</td>
                    <td>Tên cửa hàng </td>
                    <td>Loại cửa hàng</td>
                    <td>Hành động</td>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let store of stores">
                <td>{{ store.storeName }}</td>
                <td>{{ store.storeCode }}</td>
                <td>{{ store.storeType }}</td>
                <td>
                    <button class="btn-view" (click)="viewDetail(store)">Chi tiết</button>
                </td>
              </tr>
        </table>
        </div>
    </div>

    <!-- ================= New Customers ================ -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>Sản phẩm nổi bật</h2>
        </div>

        <table>
            <tr  *ngFor="let product of products">
                <td width="60px">
                    <div class="imgBx"><img [src]="product.thumbnail" alt=""></div>
                </td>
                <td>
                    <h4>{{product.proName}} <br> <span>{{product.category}}</span></h4>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
