<app-managerdashboard></app-managerdashboard>
<div class="content">
  <app-topbar></app-topbar>
  <hr>
  <div class="box-container" style="display: flex; width: 100%; justify-content: center;">
    <div class="box" style="flex: 1; border: 1px solid black; padding: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); width: 250px; height: 200px; margin: 0 10px; border-radius: 10px;">
      <h3 style="text-align: center;">Box 1</h3>
      <p style="text-align: center; margin-top: 30px;">Value 1</p>
    </div>
    <div class="box" style="flex: 1; border: 1px solid black; padding: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); width: 250px; height: 200px; margin: 0 10px; border-radius: 10px;">
      <h3 style="text-align: center;">Box 1</h3>
      <p style="text-align: center; margin-top: 30px;">Value 1</p>
    </div>
    <div class="box" style="flex: 1; border: 1px solid black; padding: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); width: 250px; height: 200px; margin: 0 10px; border-radius: 10px;">
      <h3 style="text-align: center;">Box 1</h3>
      <p style="text-align: center; margin-top: 30px;">Value 1</p>
    </div>
    <div class="box" style="flex: 1; border: 1px solid black; padding: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); width: 250px; height: 200px; margin: 0 10px; border-radius: 10px;">
      <h3 style="text-align: center;">Box 1</h3>
      <p style="text-align: center; margin-top: 30px;">Value 1</p>
    </div>
  </div>
  <hr>
  <div class="notification" style="text-align: center; margin-top: 20px; padding: 15px; background-color: #e0ffe0; border: 1px solid green; border-radius: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    <p style="font-size: 18px; color: green; margin: 0;">New order received</p>
  </div>

  <hr>
  <div class="notification" style="text-align: center; margin-top: 20px; padding: 15px; background-color: #e0f7ff; border: 1px solid #00bfff; border-radius: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
    <p style="font-size: 18px; color: #00bfff; margin: 0;">Các sự kiện sắp tới của chúng ta</p>
  </div>
  <app-banner-event></app-banner-event>
  <hr>
  <h2 style="text-align: center; margin-top: 20px; font-size: 24px; color: #333;">Các đơn hàng đang xử lý</h2>
 

</div>
