<div class="form-container">
  <h2 class="form-title">Update Product</h2>
  <form (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="proName">Product Name:</label>
      <input type="text" id="proName" name="proName" [(ngModel)]="proName" (input)="onProductNameInput($event)" required />
    </div>

    <div class="form-group">
      <label for="slug">Slug:</label>
      <input type="text" id="slug" name="slug" [(ngModel)]="slug" readonly />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="description" (input)="onDescriptionInput($event)" required></textarea>
    </div>

    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" [(ngModel)]="category" required disabled=""/>
    </div>

    <div class="form-group">
      <label for="thumbnail">Thumbnail:</label>
      <input type="file" id="thumbnail" name="thumbnail" accept="image/*" (change)="onFileChange($event)" />
      <div *ngIf="thumbnailUrl">
        <img [src]="thumbnailUrl" alt="Current Thumbnail" class="thumbnail-preview" width="100" />
      </div>
    </div>

    <button type="submit">Update Product</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
