<div class="container">
  <div class="form-section">
    <div class="logo">Sapo Store</div>
    <h2>Welcome !</h2>
    <form>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="LoginRequest.email"
          name="email"
          placeholder="email@example.com"
          required
        />
      </div>
      <div class="input-group">
        <label for="password">Mật khẩu</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="LoginRequest.password"
          name="password"
          placeholder="Mật khẩu"
          required
        />
      </div>
      <button type="submit" class="btn" (click)="onLogin()">Đăng nhập</button>
    </form>
    <a href="#" class="forgot-password">Quên mật khẩu?</a>

  </div>
  <div class="image-section">
    <img
      src="https://cdn.tgdd.vn/2020/05/content/Sapo-800-800x450.jpg"
      alt="Stylish shoes"
    />
  </div>
</div>
